.Gallery{
  position: relative;
  z-index: 9;
  min-height: 80vh;
  /* overflow-x: hidden; */
}

/* .scroll{
    margin-top: 13rem;
} */

.card-section{
  
  overflow-x: hidden;
  width: 100vw;
  
}


.studio-names{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  font-size: var(--font-tiny);
}

.studio-name{

  color: rgb(117, 117, 117);
}


.GalleryCardSlider{
  /* background-color:  red; */
  width: 100vw;
  height: 25rem;
}

.GalleryCardSlider > img{
  transition: .8s;
  object-fit: cover;
  object-position: center;
  box-shadow:  0 20px 20px #c5c5c5
}

.GalleryCardSlider > img:hover{
  transform: scale(1.01);
}

.GalleryCardSection{
  /* columns: 3 20rem; */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.GalleryCard{
  box-shadow: 5px 5px 5px 1px rgba(170, 170, 170, 0.2);
}

.gallery-card-img-frame{
  position: relative;
  width: 100%;
  overflow: hidden;
  /* height: 15rem; */
}

.gallery-card-img-date{
  position: absolute;
  background-color: white;
  top: 1rem;
  z-index: 10;
  left: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding: .4rem .7rem;
  font-weight: 700;
}

.gallery-card-img{
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  display: block;
  transition: .3s;
}

.GalleryCard:hover .gallery-card-img{
  transform: scale(1.01);
}

.gallery-card-info{
  text-align: center;
  border: 1px solid rgb(238, 238, 238);
  padding: 1rem;
}

.gallery-card-title{
  font-weight: 400;
  letter-spacing: 1px;
}

.author-profile{
  background-color: rgb(194, 194, 194);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin: 0 .3rem;
}

.gallery-card-p{
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  letter-spacing: 1px;
}