.GalleryCardSliderLoadingScreen{
    /* background-color: brown; */
    height: 25rem;
    width: 100%;
    padding: 2rem 6rem;
    margin-top: 5rem;
}


.GalleryCardSliderLoadingScreen-studio-name{
    /* background-color: red; */
    height: 1.5rem;
    width: 8rem;
    margin-bottom: 1rem;
}

.GalleryCardSliderLoadingScreen-img{
    /* background-color: aqua; */
    height: 23rem;
    width: 40rem;
    
}



.GalleryCardLoadingScreen{
    height: 29rem;
    margin: 0 1rem;
    /* width: 30rem; */
}



.date-loading{
    height: .5rem;
    width: 2rem;
}


.gallery-card-img-loading{
    background-color: rgb(241, 241, 241);
    height: 18rem;
    width: 100%;
}

.gallery-card-title-loading{
    height: 2rem;
    width: 20rem;
}

.gallery-card-writer-loading {
    margin: 1rem 0;
}

.author-name-loading{
    height: 1rem;
    width: 5rem;
}

.gallery-card-p-loading{
    height: 1rem;
    margin-bottom: .5rem;
}




.LoadingImagesComponenet-container{
    width: 60dvw;
    /* background-color: red; */
}


.LoadingImagesComponenet{
	/* background-color: #073D60; */
    background-color: rgb(216, 216, 216);
	animation: .7s loading-animation linear infinite alternate;
}



.LoadingImagesComponenet-title{
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
}

.LoadingImagesComponenet-author{
height: 1rem;
width: 6rem;
margin-bottom: 1rem;
}

.LoadingImagesComponenet-head-description{
margin-top: 2rem;
}

.LoadingImagesComponenet-description{
height: 2rem;
width: 100%;
margin-bottom: 1rem;
}

.last{
width: 70%;
/* margin-bottom: 4rem; */
}

.LoadingImagesComponenet-Img-section{
display: grid;
grid-template-columns: auto auto auto;
gap: 1rem;
margin-top: 3rem;
}

.LoadingImagesComponenet-Img{
width: 100%;
height: 25rem;
/* margin: 1rem; */
}
  
.LoadingComponenet{
    scroll-snap-align: center;
	/* background-color: #073D60; */
    background-color: rgb(216, 216, 216);
	animation: .7s loading-animation linear infinite alternate;
}


@keyframes loading-animation {

	0% {
		opacity: 1;
	}
	100% {
		opacity: .1;
	}
}