:root{
  
  --border-color: #adadad;
  --border-color-light: #E2E2E2;

  --ligh-yellow-color: #FE9B1D;
  /* --darker-yellow-color: #ffb048; */

  --highlight: #9aa506;
  --highlight-2: #d8daba;

  --bg-color-light:#f5f7f8;
  --bg-color-mid:#1B548A;
  --bg-color-dark:#124375;


  --font-color-main: #073D60;
  --font-color-light:#DFE5EB;
  /* --font-color-mid:; */
  --font-color-dark: #3a464e;


  --space-thin: 2rem;
  --space-small: 4rem;
  --space-wide: 11rem;


  --font-tiny: .6rem;
  --font-small: .8rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;
  --font-xlarge: 2rem;
  
}

*{
  color: black;
  letter-spacing: 2px;
}

html{
  overflow-x: hidden;
}

.bg-color-light{background-color: var(--bg-color-light);}
.bg-color-mid{background-color: var(--bg-color-mid);}
.bg-color-dark{background-color: var(--bg-color-dark);}

.vh100{height: 100vh;}
.vh80{height: 80vh;}
.vh60{height: 60vh;}
.vh10{height: 10vh;}

.width50{width: 50%;}

.width60{width: 60%;}
.width40{width: 40%;}




/* FLEX STYLINGS */
.flex{ display: flex;}
.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}
.flex-row-reverse{flex-direction: row-reverse;}

.flex-column-on-desktop-row-on-mobile{flex-direction: column;}
.flex-row-on-desktop-column-on-mobile{flex-direction: row;}
.flex-align-center{align-items: center;}
.flex-justify-center{justify-content: center;}

.flex-center{
  align-items: center;
  justify-content: center;
}

.space-between{justify-content: space-between;}
/* FLEX STYLINGS */

/* PADDINGS */
.padding-0-1{padding: 0 1rem}

.padding-1-2{padding:1rem var(--space-thin)}

.padding-2-2{padding: var(--space-thin)}
.padding-0-2{padding: 0 var(--space-thin)}

.padding-2-4{padding: var(--space-thin) var(--space-small);}
.padding-0-4{padding: 0 var(--space-small);}

.padding-2-6{padding: var(--space-thin) var(--space-wide);}
.padding-0-6{padding: 0 var(--space-wide);}

.margin-bottom-1rem{margin-bottom: 1rem;}
/* PADDINGS */

/* FONT SIZINGS */
.font-tiny{font-size: var(--font-tiny);}
.font-small{font-size: var(--font-small);}
.font-medium{font-size: var(--font-medium);}
.font-large{font-size: var(--font-large);}
.font-xlarge{font-size: var(--font-xlarge);}
/* FONT SIZINGS */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: rgb(255, 200, 200); */
}

.white{color: white;}

.not-available{cursor: not-allowed;}

.active{
  color: var(--highlight);
}

a{
  text-decoration: none;
}

.logo{
  font-family: 'Rhythem';
  font-size: 4rem;
  line-height: 2rem;
}

.header{
  background-color: white;
  position: -webkit-sticky;
	position: sticky;
  z-index: 10;
  top: -8rem;
}

.submit{
  position: absolute;
  z-index: 10;
  right: 11rem;
  bottom: 6rem;
  padding:.5rem 1rem;
  border: 1px solid var(--highlight);
  color: var(--highlight);
}

nav{
  margin-top: 3.5rem; 
}

.nav{
  transition: .2s;
}

.nav:hover{
  color: rgb(148, 148, 148);
}


.social-icons {
  margin-right: 2.5rem;
 
}

.social-icons *{
  color: #5d6f7c;
  width: 3rem;
  padding: .5rem 0 ;
  /* background-color: red; */
}

.social-icons:hover *{
  color: var(--highlight);
}




footer{
  height: 3rem;
}


.AdSpaceYo{
  position: absolute;
  right: 0;
  /* z-index: 15; */
  /* background-color: #124375; */
  width: 13vw;
  min-height: 20rem;
}

.banner{
  width: 100%;
  height: 30rem;
}

/* .banner > img{
  width: 100%;

  height: 30rem;
} */

.NotFound{
  min-height: 70vh;
}


/*/////////////*/
/* GALLERY PAGE */
/*/////////////*/


.ImagesComponenet{
  columns: 25rem;
}

.ImagesComponenet-h2{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.ImagesComponenet > img{
  width: 31rem;
  margin: .5rem 0;
}

.ImagesComponenet-view-more{
  background-color: var(--highlight);
  padding: 1rem 28.57rem;
  margin: 1rem 0;

}


/* .LoadingImagesComponenet-head{
  width: 62.2%;
} */

.width62{
  width: 62.2%;
}


.LoadingImagesComponenet-title{
  height: 3rem;
  width: 100%;
  margin-bottom: 1rem;
}

.LoadingImagesComponenet-author{
  height: 1rem;
  width: 6rem;
  margin-bottom: 1rem;
}

.LoadingImagesComponenet-head-description{
  margin-top: 2rem;
}

.LoadingImagesComponenet-description{
  height: 2rem;
  width: 100%;
  margin-bottom: 1rem;
}

.last{
  width: 70%;
  /* margin-bottom: 4rem; */
}

.LoadingImagesComponenet-Img-section{
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  margin-top: 3rem;
}

.LoadingImagesComponenet-Img{
  width: 25rem;
  height: 35rem;
  margin: 1rem;
}





/*/////////////*/
/* CAREER PAGE */
/*/////////////*/


.Gallery{
  position: relative;
  z-index: 9;
  min-height: 80vh;
  /* overflow-x: hidden; */
}

/* .scroll{
    margin-top: 13rem;
} */

.card-section{
  
  overflow-x: hidden;
  width: 100vw;
  
}


.studio-names{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  font-size: var(--font-tiny);
}

.studio-name{

  color: rgb(117, 117, 117);
}


.GalleryCardSlider{
  /* background-color:  red; */
  width: 100vw;
  height: 25rem;
}

.GalleryCardSlider > img{
  transition: .8s;
  object-fit: cover;
  object-position: center;
  box-shadow:  0 20px 20px #c5c5c5
}

.GalleryCardSlider > img:hover{
  transform: scale(1.01);
}

.GalleryCardSection{
  /* columns: 3 20rem; */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.GalleryCard{
  box-shadow: 5px 5px 5px 1px rgba(170, 170, 170, 0.2);
}

.gallery-card-img-frame{
  position: relative;
  width: 100%;
  overflow: hidden;
  /* height: 15rem; */
}

.gallery-card-img-date{
  position: absolute;
  background-color: white;
  top: 1rem;
  z-index: 10;
  left: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding: .4rem .7rem;
  font-weight: 700;
}

.gallery-card-img{
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  display: block;
  transition: .3s;
}

.GalleryCard:hover .gallery-card-img{
  transform: scale(1.01);
}

.gallery-card-info{
  text-align: center;
  /* border: 1px solid rgb(238, 238, 238); */
  padding: 1rem;
}

.gallery-card-title{
  font-weight: 400;
  letter-spacing: 1px;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  letter-spacing: 1px;
}

.author-profile{
  background-color: rgb(194, 194, 194);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin: 0 .3rem;
}

.gallery-card-p{
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  letter-spacing: 1px;
}




/*/////////////*/
/* CAREER PAGE */
/*/////////////*/
.career-hiring-section{
  min-height: 60vh;
}


.career-hiring-section>div{
  /* background-color: aquamarine; */

  width: auto;
}

.career-hiring-section>.career-img-div{
  margin-left: var(--space-wide);
  /* overflow: hidden; */
  /* background-color: aquamarine; */
  margin-right: 3rem;
}


.career-hiring-section>.career-img-div>img{
  height: 20rem;
  /* aspect-ratio: 3/2;
  object-fit: cover; */
}

.career-hiring-section > .career-hiring{
  padding-right: var(--space-wide);
}

.career-heading{
  font-size: var(--font-medum);
  margin: 0;
  font-weight: 500;
}

.career-p{
  font-size: var(--font-small);
  font-weight: 400;
  margin-bottom: 1rem;
  /* letter-spacing: normal; */
}

.career-p a{
  color:  var(--highlight);
}

.apply-here{
  text-decoration: underline;
}




@media screen and (max-width: 360px) {
  :root{  
  
    --space-thin: 2rem;
    --space-small: 4rem;
    --space-wide: 1rem;
  
  
    --font-tiny: .5rem;
    --font-small: .8rem;
    --font-medium: 1rem;
    --font-large: 1.5rem;
    --font-xlarge: 2rem;
    
  }


  .flex-row-on-desktop-column-on-mobile{flex-direction: column;}

}